{% extends 'Member/base.html' %}

{%block title%}
    Classic Game
{%endblock%}

{%block user%}
        {{name}}
        <input type="button" value="修改資料" onclick="location='/Member/modify/'">
        <input type="button" value="登出" onclick="location='/Member/logout/'">
{%endblock%}

{%block content%}
    <h3>Please Select a Classic Game</h3>
    <form method="post" action="/Member/Classic/">
        {% csrf_token %}
        <select name="Game">
            {%for CM in ClassicGames%}
                <option value={{CM.pk}}>{{CM.Event}}{{CM.Site}}{{CM.Date}},{{CM.vulnerable}}</option>
            {%endfor%}
        </select><br>
        <input type="text" name="N" placeholder="N">
        <input type="text" name="E" placeholder="E">
        <input type="text" name="S" placeholder="S">
        <input type="text" name="W" placeholder="W">
        <br>
        <input type="submit" name="button" id="button" value="送出">
        <input type="reset" name="button2" id="button2" value="重設">
    </form>
{%endblock%}

{%block bottom%}

{%endblock%}