{% extends 'Member/base.html' %}

{%block title%}
    General Game
    {{message}}
{%endblock%}

{%block user%}
         {{name}}
        <input type="button" value="修改資料" onclick="location='/Member/modify/'">
        <input type="button" value="登出" onclick="location='/Member/logout/'">
{%endblock%}

{%block content%}

    <script type="text/javascript">
      function myrefresh(){
        window.location.reload();
    }
    setTimeout('myrefresh()',10000);
    </script>
<div style="position:absolute;right:330px;font-size:20px;">
    <h3>BMBC: {{request.session.BMBC}}</h3>
</div>
<div style="font-size:20px;position:absolute;left:400px;top:200px;">

    N:<br><br>
    E:<br><br>
    S:<br><br>
    W:
</div>
<div style="font-size:20px;position:absolute;left:430px;top:200px">
    {%for username in Usernames%}
        {{username}}<br><br>
    {%endfor%}
   <!-- {%for BMBC in BMBCs%}
        {{BMBC}}<br>
        {%for key,value in BMBC.items%}
            {%ifequal '_auth_user_id' key%}
                {{value}}<br><br>
            {%endifequal%}
        {%endfor%}
    {%endfor%}-->
   <!-- <h3>Please Enter The UserName<br><br>
        <input type="button" value='是' onclick="SendMSG(5)">
    N:<input type="text" name="playerN">
    E:<input type="text" name="playerE">
    W:<input type="text" name="playerW">
    S:<input type="text" name="playerS"></h3>-->
</div>
    {%endblock%}

{%block bottom%}
   <!-- <form action="/Member/playmode" >
         <input type="submit" value="Ready" name="state">
    </form> -->

{%endblock%}