{% extends 'Member/base.html' %}

{%block title%}
    General Game
    {{message}}
{%endblock%}

{%block user%}
         {{name}}
        <input type="button" value="修改資料" onclick="location='/Member/modify/'">
        <input type="button" value="登出" onclick="location='/Member/logout/'">
{%endblock%}

{%block content%}
<style>
    .bmbc{
        position:absolute;
        right:330px;
        font-size:20px;
    }
    .position{
        font-size:23px;
        position:absolute;
        left:400px;
        top:200px;
    }
    .player{
        font-size:20px;
        position:absolute;
        left:430px;
        top:200px
    }
    @media only screen and (max-width: 1000px){
        .player{
            font-size:50px;
            left:300px;
         }
        .position{
            left:200px;
            font-size:50px;
        }
        .bmbc{
            font-size:50px;
            right:150px;
        }
    }
</style>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        function refresh(){
            $.getJSON("/Member/data_fresh/", function (ret) {

                $('#N').html(ret[0]);
                $('#E').html(ret[1]||"");
                $('#S').html(ret[2]||"");
                $('#W').html(ret[3]||"");
                $('#Msg').html(ret[4]||"");
            })
        }
        setInterval(refresh, 3000)
    })
    </script>
<div class="bmbc">
    BMBC: {{request.session.BMBC}}
</div>
<div class="position">

    N:<br><br>
    E: <br><br>
    S: <br><br>
    W:
</div>
<div class=player>
    <p id="N"></p><br>
    <p id="E"></p><br>
    <p id="S"></p><br>
    <p id="W"></p>
   <!-- {%for BMBC in BMBCs%}
        {{BMBC}}<br>
        {%for key,value in BMBC.items%}
            {%ifequal '_auth_user_id' key%}
                {{value}}<br><br>
            {%endifequal%}
        {%endfor%}
    {%endfor%}-->
   <!-- <h3>Please Enter The UserName<br><br>
        <input type="button" value='是' onclick="SendMSG(5)">
    N:<input type="text" name="playerN">
    E:<input type="text" name="playerE">
    W:<input type="text" name="playerW">
    S:<input type="text" name="playerS"></h3>-->
</div>
<p style="text-align:center;"id="Msg"></p>
    {%endblock%}

{%block bottom%}
   <!-- <form action="/Member/playmode" >
         <input type="submit" value="Ready" name="state">
    </form> -->

{%endblock%}