{%extends 'Member/base.html'%}

{%block title%}
    {{message}}
{%endblock%}

{%block user%}
        {{name}}
        <input type="button" value="修改資料" onclick="location='/Member/modify/'">
        <input type="button" value="登出" onclick="location='/Member/logout/'">
{%endblock%}

{%block content%}
    <h3>Please Enter Your BridgeMasterBaseCode</h3>
    <form action="/Member/playmode/" method = "post">
        {% csrf_token %}
        <input type ="text" name="BridgeMasterBaseCode">
        <input type = "submit">
    </form>
{%endblock%}

{%block right%}
    <input type="button" value="我的賽局紀錄" onclick="location='/Member/Table/'"><br>
    <input type="button" value="Json" onclick="location='/Member/Json/'">-->
{%endblock%}

{%block bottom%}

{%endblock%}