{% extends 'Member/base.html' %}

{% block title %}
        Please Select Your Playing Mode!!!
{% endblock %}

{%block user%}
     {{name}}
        <input type="button" value="修改資料" onclick="location='/Member/modify/'">
        <input type="button" value="登出" onclick="location='/Member/logout/'">
{%endblock%}

{% block content  %}
<style>
    .mode{

    }
    @media only screen and (max-width: 1000px){
        .mode{
            font-size:100px;
        }
    }
</style>
<div class="mode">
    <input type = "Button"  value = 'Classic'
             onclick ="location.href='/Member/playmode=0/'">
    <input type = "Button"  value = 'General'
             onclick ="location.href='/Member/playmode=1/'">
</div>
    <!--
    <form action = "/Member/GameStart/" method ="POST">
        <input style = "font-size:25px"type = "submit" value = 'Classic' name = 'GameMode'>
        <input style = "font-size:25px"type = "submit" value = 'General' name = 'GameMode'>
    </form> -->
{% endblock %}

{%block bottom%}

{%endblock%}