{% extends 'Member/base.html' %}

{%block title%}
    Table Information
{%endblock%}

{%block user%}
        {{name}}:{{permission}}
        <input type="button" value="修改資料" onclick="location='/Member/modify/'">
        <input type="button" value="登出" onclick="location='/Member/logout/'">
{%endblock%}

{%block content%}
<!--<script type="text/javascript">
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    function orderby(ord){
        $.post('/Member/Table/',{'order':ord});
    }
</script>-->
<style>
input[type=submit]:not(.a){
 -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-size: 0px;
  padding: 0px;
  border: solid #1f628d 5px;
  text-decoration: none;
}
.find{

}
.filter{
     position:absolute;
     top:300px;
     left:485px;
}
@media only screen and (max-width: 1000px){
    .filter{
        top:20%;
        left:7%;
        font-size:28px;
        border="2";
        cellpadding="1";
        cellspacing="0";
        align="center";
        valign="middle;
    }
    .find{
        font-size:20px;
    }
}
</style>
<form method="post" action="/Member/Table/">
<div class="find">
    Table ID:<input type="text" name="T_id"><br>
    查主機:<input type="text" name="BMBC"><br>
    找朋友:<input type="text" name="Friend"><br>
    MyPoint範圍:<input type="text" name="MyPoint"><br>


</div>

    <table class="filter">
            {% csrf_token %}
            {{message}}
        <th>TableID<input type="submit" name = 'order'value="TableID"></th>
        <th>Round<input type="submit" name = 'order'value="RoundNum"></th>
        <th>NS_Point<input type="submit" name = 'order'value="NS_TotalPoint"></th>
        <th>EW_Point<input type="submit" name = 'order'value="EW_TotalPoint"></th>
        <th>MachineID<input type="submit" name = 'order'value="MachineID"></th>
        <th>Time<input type="submit" name = 'order'value="-time">
            <select name="TimeRange">
                <option value="99999">無限制</option>
                <option value="7">1個禮拜內</option>
                <option value="30">1個月內</option>
                <option value="180">半年內</option>
                <option value="365">1年內</option>
            </select>
        </th>
        <th>Detail</th>
        {%for table in tables%}
        <tr>
        <td>{{table.pk}}</td>
        <td>{{table.RoundNum}}</td>
        <td>{{table.NS_TotalPoint}}</td>
        <td>{{table.EW_TotalPoint}}</td>
        <td>{{table.MachineID}}</td>
        <td>{{table.time}}</td>
        <td><input type="button" onclick="location.href='{{table.pk}}'"value="Detail"></td>
        </tr>
        {%endfor%}
    </table>


{%endblock%}

{%block right%}
{%endblock%}


{%block bottom%}

            <ul class="pagination">
            <li><a href="/Member/Table/?page=1">首頁</a></li>
                 {% if tables.has_previous %}
                        <li><a href="/Member/Table/?page={{ tables.previous_page_number }}">上一頁</a></li>
                {% endif %}

                 {% for num in tables.paginator.page_range %}
                    <li><a href="/Member/Table/?page={{ num }}">{{ num }}</a></li>
                 {% endfor %}

                {% if tables.has_next %}
                     <li><a href="/Member/Table/?page={{ tables.next_page_number }}">下一頁</a></li>
                {% endif %}
                <li><a href="/Member/Table/?page={{ tables.paginator.num_pages }}">尾頁</a></li>
             </ul>
<input type="submit" class="a">
{%endblock%}
     </form>